.map-view {
  background: $background-navigation-vector;
  // background: $background-darkgray-vector;
  // position: relative;
  // padding: 0;
  // margin: 10vh 10vw;
  // flex: 1;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 100px;
}

.switch-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  width: 100%;
  margin-left: 10vw;
  // margin-right: auto;
}

.footer {
  position: absolute;
  margin-right: auto;
  width: 30%;

  bottom: 0;
  height: 100px;
  color: #0079c1;
  background-color: #ffffff;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
  padding-right: 5vw;
  padding-left: 5vw;
}

.highway-footer {
  position: absolute;
  margin-left: auto;
  width: 30%;
  padding-left: 5vw;
  padding-right: 5vw;

  bottom: 0;
  height: 100px;
  color: #0079c1;
  background-color: #ffffff;
  text-align: center;

}

.sqmi-footer {
  position: absolute;
  width: 30%;
  right: 10vw;

  bottom: 0;
  height: 100px;
  color: #0079c1;
  background-color: #ffffff;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

// .sqmi-footer h4 {
//   font-size: 14px;
//   padding-top: 150px;
//   color: black;
// }

// .highway-footer h4 {
//   font-size: 14px;
//   padding-top: 150px;
//   color: black;
// }

// .footer h4 {
//   font-size: 14px;
//   padding-top: 150px;
//   color: black;
// }