.map-view {
  background: $background-navigation-vector;
  // background: $background-darkgray-vector;
  // position: relative;
  // padding: 0;
  // margin: 10vh 10vw;
  // flex: 1;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 100px;
}

.footer {

  position: absolute;
  margin-right: auto;
  width: 30%;
  padding-right: 5vw;
  padding-left: 5vw;

  bottom: 0;
  height: 100px;
  color: #0079c1;
  background-color: #ffffff;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
  // display: flex;
  // padding: 5vw;
}

.highway-footer {
  position: absolute;
  margin-left: auto;
  width: 25%;
  padding-left: 5vw;

  bottom: 0;
  height: 100px;
  color: #0079c1;
  background-color: #ffffff;
  text-align: center;
  // margin-left: 25vw;
  // margin-right: 25vw;
  // display: flex;
  // padding: 5vw;
}

.sqmi-footer {
  position: absolute;
  margin-right: auto;
  width: 27%;
  padding-left: 5vw;
  right: 23vw;

  bottom: 0;
  height: 100px;
  color: #0079c1;
  background-color: #ffffff;
  text-align: center;
  // margin-left: 25vw;
  // margin-right: 25vw;
  // display: flex;
  // padding: 5vw;
}